.container-fluid{
    padding: 0px;
    margin: 0px;
}
.parent{
    width: 25%;
    height: 600px;
    border: 15px solid rgb(10, 10, 10);
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    
    overflow-wrap: inherit;
    
    .power{
        position: absolute;
        width: 8px;
        height: 28px;
        background-color: red;
        border-radius: 0px 5px 5px 0px;
        margin-left: 104%;
        margin-top: 102px;
    }
    .volume-up{
        position: absolute;
        width: 8px;
        height: 28px;
        background-color: red;
        border-radius: 0px 5px 5px 0px;
        margin-left: 104%;
        margin-top: 40px;
    }
    .volume-down{
        position: absolute;
        width: 8px;
        height: 28px;
        background-color: red;
        border-radius: 0px 5px 5px 0px;
        margin-left: 104%;
        margin-top: 68px;
    }

}
.call-log{
    background-color: whitesmoke;
    margin-top: -6px;
    border-radius: 30px !important;
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: 1000;

    .camera{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: gray;
        margin-left: 4%;
        margin-top: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }

    header{
        display: flex;
        align-items: center;
        background-color: rgb(78, 196, 78);
        color: white;
        padding-bottom: 2px;
        border-radius: 15px 15px 0px 0px;
        
        .mean{
            .camera{
                margin-left: 6px;
            }
        }
        .mean2{
            padding-left: 65%;
        }
    }
    .contact-main{
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 3px;
        background-color: white;
        
        .bay{
            padding-left: 10px;
        }
        .dem{
            border: none !important;
            background-color: white;
            .fa-arrow-left{
                font-size: 12px;
            }
        }
        
    }
    .fill{
        display: flex;
        align-items: center;
        
        .cir{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: greenyellow;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
        }
        .dim{
            padding-left: 150px;
            padding-top: -30px;
        }
        .cir2{
            color: green;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid green;
        }
    }
    .fill2{
        display: flex;
        align-items: center;
        
        .cir{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
        }
        .dim{
            padding-left: 130px;
            padding-top: -30px;
        }
        .cir2{
            color: green;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid green;
        }
    }
    .fill3{
        display: flex;
        align-items: center;
        
        .cir{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: blue  ;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
        }
        .dim{
            padding-left: 135px;
            padding-top: -30px;
        }
        .cir2{
            color: green;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid green;
        }
    }
    
    
    .firm{
        padding-top: 10px;
        position: absolute;
        z-index: -1000;
        overflow-y: scroll;
        height: 450px;
    }

    .contact{
        background-color: lightgrey;
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding: 2px;
        
        border-radius: 15px;
        
        input{
            border: none;
            outline: none;
            background-color: transparent;
        }
    }
    .tip{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        margin-left: 10%;
        color: white;
        bottom: 100px;
    }
    .foot{
        display: flex;
        justify-content: space-around;
        bottom: 48px !important;
        border-radius: 0px 0px 20px 20px;
        position: fixed;
        height: 50px;
        width: 22%;
        background-color: white;
        padding-top: -40px;
        .bay{
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 12px;
        }

    }
}
.grand-panel{
    background-color: whitesmoke;
    margin-top: -70px !important;
    border-radius: 20px;
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: 1000;
    header{
        display: flex;
        align-items: center;
        .mean{
            .camera{
                margin-left: 6px;
            }
        }
        .mean2{
            padding-left: 65%;
        }
    }
    .bay{
        padding-left: 10px;
    }
    .dem{
        border: none !important;
        border-color: whitesmoke;
        .fa-arrow-left{
            font-size: 12px;
        }
    }
    
    .camera{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: gray;
        margin-left: 4%;
        margin-top: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }
    .grand-panel2{
        margin-left: 10px;
        margin-top: -7%;
        padding-top: 220px;
       
        .panel-fill{
            
            width: 100%;
            margin: 0px;
            padding: 0px;
            height: 60px;
            display: flex;
            align-items: center;
            background-color: whitesmoke;
            border-bottom: 1px solid lightgrey;
            #panel{
                padding-left: 10px;
                font-size: 20px;
                border: none;
                outline: none;
            }
            
            .day{
                margin-left: 20%;
                color: white;
                background-color: green;
                padding: 5px;
                border-radius: 50% 100% 100% 100%;
                position: fixed;
                padding: 5px;
                top: 45%;
            }
            .dey{
                color: green;
                margin-left: 5%;
            }
        }
        .bill{
            display: flex;
            justify-content: center;
            i{
                color: white;
                background-color: green;
                padding: 10px;
                border-radius: 50%;
                font-size: 22px;
                margin: auto;
            }
        }
        button{
            width: 30%;
            height: 50px;
            margin: 2px;
            border: none;
            background-color: transparent;
            &:focus{
                background-color: lightgray;
            }
        }
    }
}

.homepage{
    margin-top: -5px;
    border-radius: 20px;
    width: 100%;
    height: 580px;
    position: absolute;
    background-image: url('winnipeg-manitoba.jpg');
    header{
        display: flex;
        align-items: center;
        .mean{
            .camera{
                margin-left: 6px;
            }
        }
        .mean2{
            padding-left: 65%;
            .sig{
                color: white;
            }
            .bat{
                color: white;
            }
        }
    }
    .camera{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: gray;
        margin-left: 4%;
        margin-top: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }
    footer{
        bottom: 0px;
        .foot{
            bottom: 0px;
            margin-top: 151%;
            display: flex;
            justify-content: space-around;
            .box-phone, .box{
                background-color: rgb(43, 134, 130);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 30px;
            }
            
        }
    }
}
.dial{
    background-color: royalblue;
    margin-top: -73px !important;
    border-radius: 20px;
    width: 100%;
    height: 583px;
    position: absolute;
    z-index: 1000;
    header{
        display: flex;
        align-items: center;
        background-color: royalblue;
        .mean{
            .camera{
                margin-left: 6px;
            }
        }
        .mean2{
            padding-left: 65%;
            .sig{
                color: white;
            }
            .bat{
                color: white;
            }
        }
    }
    .camera{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: gray;
        margin-left: 4%;
        margin-top: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
    }
    .line-one{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        padding-top: 30px;

        .user{
            font-size: 40px;
            width: 60px;
            height: 60px;
            padding: 30px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .one{
            width: 10px;
            height: 20px;
            padding: 5px;
            margin-top: 10px;
            border-radius: 0px 8px 0px 0px;
            display: flex;
            border: 1px solid white;
            align-items: center;
            justify-content: center;
            column-count: 3 !important;
        }
    }
    .team{
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        .file{
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 12px;
            }
            i{
                font-size: 22px;
            }
        }
    }
    .phone{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-size: 25px;
        margin-left: 45%;
        margin-top: 260px;
    }
}

.box-phone:focus .grand-panel{
    display: inherit;
}


@media(max-width:900px){
    .parent{
        width: 50%;
    }
}
@media(max-width:760px){
    .container-fluid{
        padding: 0px !important;
        margin: 0px !important;
    }
    .parent{
        border: none !important;
        border-radius: 0px !important;
        width: 100%;
        margin: 0px;
        .side{
            display: none;
        }
        .power2{
            position: absolute;
            width: 6px;
            height: 28px;
            background-color: red;
            border-radius: 0px 5px 5px 0px;
            margin-top: 102px;
        }
    }
    .grand-panel{
        width: 100%;
        border-radius: 0px !important;
        .panel-fill{
            .day{
                margin-left: 70%;
                
            }
        }
        .grand-panel2{
            .day{
                margin-left: 80% !important;
                margin-top: -20px !important;
            }
        }
    }
    .call-log{
        border-radius: 0px !important;
        .fill{
            .dim{
                padding-left: 190px;
            }
        }
        .fill2{
            .dim{
                padding-left: 170px;
            }
        }
        .fill3{
            .dim{
                padding-left: 180px;
            }
        }
        .tip{
            margin-left: 50%;
        }
        .foot{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}
